.cover__subtitle {
  min-width: 288px;
  max-width: 50%;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  text-align: center;
  align-self: start;
  margin: 0;
  padding: 0;
  grid-column: 1/1;
  grid-row: 2/2;
  z-index: 3;
}

@media (min-width: 768px) {
  .cover__subtitle {
    width: 360px;
    max-width: 70%;
    font-size: 18px;
    line-height: 22px;
  }
}
