.lead__title {
  min-width: 288px;
  max-width: 720px;
  font-size: 40px;
  line-height: 44px;
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
  padding: 0;
}

@media (min-width: 321px) and (max-width: 767px) {
  .lead__title {
    font-size: 12.5vw;
    line-height: 13.7vw;
  }
}

@media (min-width: 768px) {
  .lead__title {
    font-size: 96px;
    line-height: 100px;
  }
}
