.footer__links {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid: repeat(5, auto) / auto;
  gap: 32px;
}

@media (min-width: 768px) {
  .footer__links {
    display: grid;
    grid: auto / 50px 57px 94px 86px 106px;
    gap: 18px;
  }
}
