.cover__overlay {
  text-decoration: none;
  display: grid;
  grid-template-rows: repeat(4, auto);
  justify-items: center;
  transition: opacity 0.4s ease;
  z-index: 2;
}

.cover__overlay:hover {
  opacity: 0.6;
}
