.place {
  min-width: 320px;
  max-width: 984px;
  display: grid;
  grid: repeat(4, auto) / auto; 
  margin: 0 auto;
}

@media (min-width: 768px) {
  .place {
    grid: repeat(2, auto) / 340px auto;
    column-gap: 28px;
  }
}

@media (min-width: 1024px) {
  .place {
    grid: repeat(2, auto) / 440px auto;
    column-gap: 32px;
  }
}

@media (min-width: 1280px) {
  .place {
    grid: repeat(2, auto) / 460px auto;
    column-gap: 40px;
  }
}
