.place__url-heading {
  color: #aaaaaa;
  text-align: left;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  font-style: normal;
  margin: 32px 16px 12px 16px;
}

@media (min-width: 768px) {
  .place__url-heading {
    height: 12px;
    margin: 0;
  }
}
